version: "3.8"

networks:
  app_network:

services:
  app:
    image: dm2003/billion-i-model-v1:latest
    env_file:
      - .env
    depends_on:
      rabbitmq:
        condition: service_started
      minio:
        condition: service_started
      deduplication_services:
        condition: service_started
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
    command: python /app/optimize_yolo_mongodb.py
    networks:
      - app_network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - ./rabbitmq_config/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    restart: always
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9100:9000"   # S3 API
      - "9101:9001"   # MinIO Console UI
    volumes:
      - minio_data:/data
    networks:
      - app_network

  deduplication_services:
    image: ashpikachu2001/deduplication_services:V1.2
    env_file:
    - .env
    container_name: deduplication_services
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app_network
    tty: true

volumes:
  rabbitmq_data:
  minio_data:
